.playfield-container
{
    display: inline-block;
}

.playfield
{
    display: table;
    border: 2px solid;
}

.playfield-row
{
    display: table-row;
    background-color: #FFFFFF;
}

.playfield-cell
{
    display: table-cell;
    width: 16px;
    height: 16px;
    padding: 0;
}

.playfield-caption
{
    display: table-caption;
    caption-side: bottom;
    padding: 2px 4px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

.playfield-space
{
    background-color: #FFFFFF !important;
}

.playfield-cell-grey
{
    background-color: #808080 !important;
}

.playfield-cell-dark
{
    background-color: #404040 !important;
}

.playfield-cell-bright
{
    background-color: #C0C0C0 !important;
}

.playfield-cell-cyan
{
    background-color: #00FFFF !important;
}

.playfield-cell-blue
{
    background-color: #0000FF !important;
}

.playfield-cell-orange
{
    background-color: #FF8000 !important;
}

.playfield-cell-yellow
{
    background-color: #FFE000 !important;
}

.playfield-cell-green
{
    background-color: #00FF00 !important;
}

.playfield-cell-purple
{
    background-color: #C000FF !important;
}

.playfield-cell-red
{
    background-color: #FF0000 !important;
}

.playfield-cell-pink
{
    background-color: #FF80FF !important;
}

.playfield-cell-darkgreen
{
    background-color: #00A000 !important;
}

.playfield-puyo
{
    border-radius: 8px;
}

/* Flag Classes (not used in regular playfields) */

.container-flag
{
    width: 20%;
}

.playfield-flag
{
    border: 0 !important;
}

.playfield-flag, .row-flag, .row-flag .playfield-cell
{
    width: 100%;
}

.playfield-flag-4 .playfield-cell
{
    height: 20px !important;
}

.playfield-flag-5 .playfield-cell
{
    height: 16px !important;
}

.playfield-flag-7 .playfield-cell
{
    height: 11.5px !important;
}
