.playfield-container
{
    display: inline-block;
}

.playfield
{
    border: 2px solid;
    display: table;
}

.playfield-row
{
    background-color: #FFFFFF;
    display: table-row;
}

.playfield-cell
{
    width: 16px;
    height: 16px;
    padding: 0;
    display: table-cell;
}

.playfield-flag-4 .playfield-cell
{
    height: 20px !important;
}

.playfield-flag-5 .playfield-cell
{
    height: 16px !important;
}

.playfield-flag-7 .playfield-cell
{
    height: 11.429px !important;
}

.playfield-caption
{
    padding: 2px 4px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    display: table-caption;
    caption-side: bottom;
}

.playfield-space
{
    background-color: #FFFFFF !important;
}

.playfield-block-grey
{
    background-color: #808080 !important;
}

.playfield-block-dark
{
    background-color: #404040 !important;
}

.playfield-block-bright
{
    background-color: #C0C0C0 !important;
}

.playfield-block-i
{
    background-color: #00FFFF !important;
}

.playfield-block-j
{
    background-color: #0000FF !important;
}

.playfield-block-l
{
    background-color: #FF8000 !important;
}

.playfield-block-o
{
    background-color: #FFE000 !important;
}

.playfield-block-s
{
    background-color: #00FF00 !important;
}

.playfield-block-t
{
    background-color: #C000FF !important;
}

.playfield-block-z
{
    background-color: #FF0000 !important;
}

.playfield-block-pink
{
    background-color: #FF80FF !important;
}

.playfield-block-verdant
{
    background-color: #00A000 !important;
}

.playfield-puyo-red
{
    background-color: #FF0000 !important;
    border-radius: 8px;
}

.playfield-puyo-green
{
    background-color: #00FF00 !important;
    border-radius: 8px;
}

.playfield-puyo-blue
{
    background-color: #0000FF !important;
    border-radius: 8px;
}

.playfield-puyo-yellow
{
    background-color: #FFE000 !important;
    border-radius: 8px;
}

.playfield-puyo-purple
{
    background-color: #C000FF !important;
    border-radius: 8px;
}
