@font-face
{
    font-family: "Quicksand";
    src: url("../font/Quicksand.ttf");
}

*
{
    font-family: "Quicksand";
    color: #F4DCFF;
}

html
{
    background: linear-gradient(0deg, #AE96E4 10%, #9E96E4 50%, #AE96E4 90%);
}

body
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 1px 20px;
    background-color: #6C529A;
}

header, footer
{
    text-align: center;
}

nav
{
    font-weight: bold;
}

nav ol, nav ol li
{
    list-style: decimal;
}

h1
{
    font-size: 36px;
    color: #DCB4FF;
}

h2
{
    font-size: 28px;
    color: #DCB4FF;
}

h3
{
    font-size: 22px;
    color: #DCB4FF;
}

h4
{
    font-size: 18px;
}

p
{
    font-size: 16px;
}

a, a *
{
    color: #BCB6FF;
}

li
{
    font-size: 16px;
    padding-bottom: 6px;
}

li ul
{
    padding-top: 6px;
}

img
{
    max-width: 100%;
}

.tooltip
{
    border-bottom: 1px dotted;
}

.state
{
    font-weight: 650;
    color: #FFECD8;
}

.nostate
{
    font-weight: 650;
    color: #D4E8FF;
}

.system
{
    font-weight: 650;
    color: #FFB8E6;
}

.credit
{
    font-weight: 650;
    color: #DAFFE4;
}

.sources, .sources li
{
    list-style: square;
}

.inline-end
{
    float: inline-end;
}

.centre
{
    display: block;
    text-align: center;
}

.centre *
{
    display: inline-block;
}

.flex
{
    display: flex;
}

.todo
{
    background-color: #000000;
}
