@font-face
{
    font-family: "Quicksand";
    src: url("../font/Quicksand.ttf");
}

*
{
    font-family: "Quicksand";
    color: #ECD8FF;
}

html
{
    background-color: #AE96E4;
}

body
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 1px 20px;
    background-color: #675395;
}

header, footer
{
    text-align: center;
}

a
{
    color: #BEA6F4;
}

img
{
    max-width: 100%;
}

.tooltip
{
    border-bottom: 1px dotted;
}

.sources
{
    list-style-type: square;
}

.inline-end
{
    float: inline-end;
}

.centre
{
    display: block;
    text-align: center;
}

.centre *
{
    display: inline-block;
}

.todo
{
    background-color: #000000;
}
